<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Joke Bin of Daniel Lopez-Klu</title>
<!--    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">-->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>The Joke Bin of Daniel Lopez-Klu</h1></div>
    </div>
        <div class="content">
            <div class="card">
                <h2>{{post["title"]}}</h2>
                <h3>{{post["subtitle"]}}</h3>
                <p>{{post["body"]}}</p>
                <a href="{{url_for('home')}}">Return Home</a>
            </div>
        </div>
</div>
</body>
<footer>
    <div>
        <p> </p>
        <a href="https://github.com/dlopezkluever">Software Development</a> |
        <a href="https://lopezklu.myportfolio.com">Photo/Video Work</a>
    <p>Lopez-Klu™</p>
    </div>
</footer>
</html>